extends templates/template

append config
    -pageTitle = 'Contáctenos'
    -description = 'Una impresionante description para esta página'
    -currentPage = 'contacto'

block main
    <iframe height="500"allowTransparency="true"frameborder="0" scrolling="no"style="width:100%;border:none"src="https://evel288.wufoo.com/embed/z1e8vcvt1ldv0gg/"><a href="https://evel288.wufoo.com/forms/z1e8vcvt1ldv0gg/">Fill out my Wufoo form!</a></iframe>
    <iframe src="https://www.google.com/maps/d/embed?mid=1XDqpWG63hpjhjFHwC2-w1OCZP5litn4K" width="640" height="250"></iframe>

        
                                                                                            
                                                       
                                              
                                              
                                              